.preloader {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
}

.circle-preloader {
  display: block;
  width: 30px;
  height: 30px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
