<form novalidate>

	<mat-form-field class="example-full-width">
		<input matInput placeholder="Time" name="Time" [(ngModel)]="modalData.time">
	</mat-form-field>

	<mat-form-field class="example-full-width">
		<input matInput placeholder="Task" name="Task" [(ngModel)]="modalData.task">
	</mat-form-field>


	<!-- <div class="button-wrapper">
	  <button mat-flat-button color="primary">Submit</button>
	</div> -->

  </form>
  <!-- [formGroup]="myForm" (ngSubmit)="submitForm()"[(ngModel)]="data.time" -->