@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins/borders';

body{
	padding: 0;
	margin: 0;
}

.schedule-container {
	background-color: $app-background-color;
	margin: 80px auto;
	padding: 80px 50px;
	width: 85%;
	max-width: 768px;

	@media screen and (max-width: 767px) {
		width: 100%;
		padding: 80px 20px;

	}
}

.form-container {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 459px) {
		flex-direction: column;
	}
}

.title {
	color: $title-color;
	text-align: center;
	margin-bottom: 40px;
}

.days {
	@include app-border();

	padding: 10px;

	.day {
		width: 20px;
		margin: 10px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: $hover-color;
			font-weight: bold;
		}

	@media screen and (max-width: 459px) {
			margin: 0;
		}
	}

	@media screen and (max-width: 459px) {
		display: flex;
		justify-content: space-around;
	}
}

.day-activated {
	color: $main-color;
	font-weight: bold;
}

