<div class="schedule">
	<div class="data">

		<ng-container *ngIf="dayTasks$ | async as dayTasks; else loading">
			<ng-container *ngFor="let task of dayTasks">
				<div [ngClass]="{'animation':true,
								'task': true}">
					<p class="task-name">{{task.time}}</p>
					<p class="task-content">{{task.content}}</p>

					<i class="material-icons" (click)="deleteTask(task.id)">delete</i>
				</div>
		</ng-container>
	</ng-container>


		<ng-template #loading>
			<div class="preloader">
				<i class="circle-preloader"></i>
			</div>
		</ng-template>
	</div>

	<button class="">
	<i class="material-icons">add</i>
</button>
</div>

