@import '../../../../styles/mixins/borders';

:host {
	@include app-border();

	flex-grow:1;
	margin-right: 20px;

	@media screen and (max-width: 459px) {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.schedule {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	height: 100%;
}

.data {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: center;
}

.task {
	text-align: center;
	display: flex;
	justify-content: space-between;
	
	.task-name {
		width: 25%;
	}

	.task-content {
		width: 75%;
		text-align: left;
	}

	> i {
		width: 50px;
	}
}

.notice {
	text-align: center;
}

.preloader {
	margin: 0 auto;
}

.circle-preloader {
	display: block;
	width: 30px;
	height: 30px;
	border: 4px solid #444;
	border-bottom-color: #888;
	
	border-radius: 50%;
	
	margin: 0 auto;
	
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes AddRecords {
	0% {
		padding-left: 100px;
	}
	100% {
		padding-left: 0px;
	} 
}

.animation {
	animation: AddRecords 400ms;
}