@import '../../../../styles/mixins/borders';

:host {
	@include app-border();

	flex-grow:1;
	margin-right: 20px;

	@media screen and (max-width: 459px) {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.schedule {
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: 100%;
	position: relative;
}

.data {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
}

.icons-panel {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.icon :hover {
	cursor: pointer;
}

.taskSelect {
	border: none;
}

.task {
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	> * {
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
	
	.task-name {
		width: 20%;
	}

	.task-content {
		width: 80%;
		text-align: left;
	}
}

.passed-time {
	> p {
		color: $warning-color;
	}
}

.notice {
	text-align: center;
}


@keyframes AddRecords {
	0% {
		padding-left: 100px;
	}
	100% {
		padding-left: 0px;
	} 
}

.animation {
	animation: AddRecords 400ms;
}