<div class="schedule">
  <div class="icons-panel">
    <div class="icon"><i class="material-icons" routerLink ={{activatedDay}}>open_in_new</i></div>

    <mat-form-field>
      <mat-select class="taskSelect" placeholder="Наименование" [(value)]="defaultState" (selectionChange)="selectState($event.value)">
        <mat-option *ngFor="let state of taskStates" [value]="state">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="icon"><i class="material-icons" (click)="addTask()">add</i></div>
  </div>

  <div class="data">
    <ng-container *ngIf="filteredDayTasks$ | async as dayTasks">
      <ng-container *ngIf="dayTasks.length != 0; else emptyList">
        <ng-container *ngFor="let task of dayTasks">
          <div [ngClass]="{'animation':true,
                  'task': true,
                  'passed-time': task.isPassed}"
                  (click)="taskClick(task)">
                <p class="task-name">{{task.time}}</p>
            <p class="task-content">{{task.content}}</p>

            <i class="material-icons" (click)="$event.stopPropagation();deleteTaskConfirm(task.id)">delete</i>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>

    <app-preloader></app-preloader>

    <ng-template #emptyList>
      <p class = "notice">В списке еще нет задач</p>
    </ng-template>
  </div>
</div>

